@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", "Movies", new {@class = "btn btn-primary"})
@if (Model.Count == 0)
{
    <p1>No movies in list</p1>
}
else
{
    <table class="table table-striped table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Genre</th>
        </tr>
        <tbody class="">
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new {id = movie.Id}, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
        </tbody>
    </table>
}