@model Vidly.Models.Customer
@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get Customer</h2>
<h1>@Model.Name</h1>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthDate != null)
    {
        <li>Date of Birth: @Model.BirthDate.Value.Date.ToString("dd.MM.yyyy")</li>
    }
        
</ul>
